<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="container">
	    <form action="/join" method="post">
                <label> NAME </label><input type="text" name="inputName">
                <label> I  D </label><input type="text" name="inputID">
                <label> PW </label><input type="text" name="inputPW">
                <label> retry PW </label><input type="text" name="inputREPW">
                <button>회원가입</button>
	    </form>
    </div>
</body>
</html>
